*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", serif;
}
body{
    background: linear-gradient(to bottom, #240146, #0B6CB2);
    height: 120vh;
    margin: 0;
    background-repeat: repeat;
    background-size: cover;
}
header{
    height: auto;
    width: 100%;
}
.header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}
.navlinks a{
    display: inline-block;
    text-decoration: none;
    margin-left: 60px;
    color: #F5F5FA;
    transition: .5s ease;
    cursor: pointer;
}
.navlinks a:hover{
    transform: translateY(-5px);
}
.img{
    z-index: 100;
    position: absolute;
    left: 400px;
    bottom: -30px;
    width: auto;
}
.img img{
    width: 400px;
}
.text{
    width: auto;
    top: 40px;
    left: 200px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}
.text h1{
    font-size: 250px;
    color: #FFFFFF;
}
